<div class="card">
    <div class="card-header">
        Subject Details
    </div>
    <div class="card-body">
        <form novalidate [formGroup]="subjectForm">
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="subjectIdId">Subject ID</label>
                <div class="col-md-8">
                    <input class="form-control" id="subjectIdId" type="text" placeholder="Subject ID" formControlName="subjectId"/>
                    <span *ngIf="subjectForm.get('subjectId')!.errors?.['required']">
                        Please enter Subject ID
                    </span>
                    <span *ngIf="subjectForm.get('subjectId')!.errors?.['minlength']">
                        Subject ID should be of length 4
                    </span>
                    <span *ngIf="subjectForm.get('subjectId')!.errors?.['maxlength']">
                        Subject ID should be of length 4
                    </span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="subjectNameId">Subject Name</label>
                <div class="col-md-8">
                    <input class="form-control" id="subjectNameId" type="text" placeholder="Subject Name" formControlName="subjectName"/>
                    <span *ngIf="subjectForm.get('subjectName')!.errors?.['required']">
                        Please enter Subject Name
                    </span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="descriptionId">Description</label>
                <div class="col-md-8">
                    <input class="form-control" id="descriptionId" type="text" placeholder="Description" formControlName="description"/>
                </div>
            </div>  
            <div class="form-group row mb-2">
                <div class="offset-md-5 col-md-4">
                    <button class="btn btn-primary mr-3" type="submit" style="width:80px"
                        [title]="subjectForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                        [disabled]="!subjectForm.valid">
                        Save
                    </button>
                    <button class="btn btn-outline-secondary mr-3" type="button" style="width:80px">
                        Cancel
                    </button>
                </div>
            </div>

                                
        </form>
    </div>
</div>