
<div class="card">
    <div class="card-header">
        Student Details
    </div>
    <div class="card-body">
        <form novalidate [formGroup]="studentForm">
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="registrationNoId">Registration No</label>
                <div class="col-md-8">
                    <input class="form-control" id="registrationNoId" type="text" placeholder="Registration  No " formControlName="registrationNo" />
                    <span *ngIf="studentForm.get('registrationNo')!.errors?.['required']">
                        Please enter Registration No
                    </span>
                    <span *ngIf="studentForm.get('registrationNo')!.errors?.['minlength']">
                        Registration No should be of length 10
                    </span>
                    <span *ngIf="studentForm.get('registrationNo')!.errors?.['maxlength']">
                        Registration No should be of length 10
                    </span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="titleId">Title</label>
                <div class="col-md-8">
                    <input class="form-control" id="titleId" type="text" placeholder="Title "formControlName="title" />
                        <span *ngIf="studentForm.get('title')!.errors?.['required']">
                            Please enter Title
                        </span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="firstNameId">First Name</label>
                <div class="col-md-8">
                    <input class="form-control" id="firstNameId" type="text" placeholder="First Name "formControlName="firstName" />
                        <span *ngIf="studentForm.get('firstName')!.errors?.['required']">
                            Please enter First Name
                        </span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="middleNameId">Middle Name</label>
                <div class="col-md-8">
                    <input class="form-control" id="middleNameId" type="text" placeholder="Middle Name "
                        formControlName="middleName" />
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="lastNameId">Last Name</label>
                <div class="col-md-8">
                    <input class="form-control" id="lastNameId" type="text" placeholder="Last Name "
                        formControlName="lastName" />
                        <span *ngIf="studentForm.get('lastName')!.errors?.['required']">
                            Please enter Last Name
                        </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="contactNoId">Contact Number</label>
                <div class="col-md-8">
                    <input class="form-control" id="contactNoId" type="text" placeholder="Contact No "
                        formControlName="contactNo" />
                        <span *ngIf="studentForm.get('contactNo')!.errors?.['required']">
                            Please enter Contact number
                        </span>
                        <span *ngIf="studentForm.get('contactNo')!.errors?.['minlength']">
                            Contact No should be of length 10
                        </span>
                        <span *ngIf="studentForm.get('contactNo')!.errors?.['maxlength']">
                            Contact No should be of length 10
                        </span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="emailIdId">Email ID</label>
                <div class="col-md-8">
                    <input class="form-control" id="emailIdId" type="text" placeholder="Email ID"
                        formControlName="emailId" />
                    <span *ngIf="studentForm.get('emailId')!.errors?.['required']">
                        Please enter Email ID
                    </span>
                    <span *ngIf="studentForm.get('emailId')!.errors?.['email']">
                        Please enter valid Email ID
                    </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="offset-md-5 col-md-4">
                    <button class="btn btn-primary mr-3" type="submit" style="width:80px"
                        [title]="studentForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                        [disabled]="!studentForm.valid">
                        Save
                    </button>
                    <button class="btn btn-outline-secondary mr-3" type="button" style="width:80px">
                    Cancel
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>