<div class="card">
    <div class="card-header">
        {{ pageTitle }}
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-1"> Filter by: </td>
                    <td class="col-md-2"> <input type="text" [(ngModel)]="listFilter" /> </td>
                    <td class="col-md-5">  
                        <!-- <h4>Filtered by: {{listFilter}}</h4>  -->
                        <div class="row" *ngIf="listFilter">
                            <div class="col-md-6">
                                <h4>Filtered by: {{listFilter}}</h4>
                            </div>
                        </div> 
                    </td>
                    <td class="col-md-4" style="text-align:right">  
                        <button class="btn btn-primary btn-space"
                        style="width:100px;" (click)="addExam()"> Add New </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped table-bordered" *ngIf="exams && exams.length">
            <thead>
                <tr>
                    <th class="text-center"> Subject </th>
                    <th class="text-center"> No Of Questions</th>
                    <th class="text-center"> Description</th>
                    <th class="text-center"> Actions </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let e of filteredExams | paginate:{itemsPerPage:itemsPerPage, currentPage:page, totalItems:totalExam}">
                    <td class="col-md-1"> {{ e.subject.name }} </td>
                    <td class="col-md-2"> {{ e.noofquestions }}</td>
                    <td class="col-md-6"> {{ e.description }} </td>
                    <td class="col-md-3" style="text-align:center">
                        <button (click)="updateExam(e.id)" class="btn btn-success btn-sm btn-space"
                            style="width:80px;"> Update </button>
                        <button (click)="deleteExam(e.id)" class="btn btn-danger btn-sm btn-space"
                            style="width:80px;"> Delete </button>
                        <button (click)="examDetails(e.id)" class="btn btn-info btn-sm btn-space"
                            style="width:80px;"> View </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <pagination-controls (pageChange)="page=$event" previousLabel="Prev" nextLabel="Next"></pagination-controls>
        </div>
    </div>
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
    Error: {{ errorMessage }}
</div>